@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

:root{
    --color-black: #0D0A0B;
    --color-gray: #454955;
    --color-with: #FFFFFF;
    --color-light-green: #72B01D;
    --color-dark-green: #3F7D20;
}

html{
    font-family: 'Ubuntu Condensed', sans-serif;
    scroll-behavior: smooth;    
}

body{
    margin: 0;
    padding: 0;
}

/* ********* HEADER ********** */
/* barra de navegacion */
nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

/* Logo */
.nav-logo{
    margin:auto;
    padding: 10px;

    text-decoration: none;
    font-weight: bold;
    font-size: 60px;

    background-color: var(--color-gray);
    color: var(--color-dark-green);

    border-radius: 50%;
    border-style: solid;
    border-color: var(--color-dark-green);
    border-width: 2.5px;
}
.nav-logo:hover{
    color: var(--color-light-green);

    border-color: var(--color-light-green);
    border-width: 4px;
}

/* menu links */
.nav-list{
    list-style: none;
    margin: auto;
    padding: 1%;
    overflow: hidden;
    text-align: center;

    background-color: var(--color-with);
    
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-dark-green);
}
.nav-list:hover{
    border-color: var(--color-light-green);
    border-width: 4px;
}

/* botones del nav-list */
.nav-buttons {
    display: inline-block;
    transition: 1s;
}

.nav-links{
    padding: 20px;
    margin:0%;

    text-decoration: none;
    color: var(--color-gray);
}
.nav-links:hover{
    color: var(--color-light-green);
    text-decoration: underline;
    font-weight: bold;
}